.urbanist> {
    font-family: "Urbanist", sans-serif;
    font-optical-sizing:auto;
    font-weight:300;
    font-style:normal;
  }
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Urbanist", sans-serif;

}
:root{
    --bs-dark-color: #1a1d20;
    --bs-dark-primary: #1c1c1c;
    --bs-main-color: #fff;
    --bs-primary-color: #c6c6c6;
    --secondary-color: #29a9fd;
    --bs-supporting-color: #c850c0;


}
h1, h2, h3, h4, h5{
    font-family: sans-serif;
    color: var(--bs-dark-color);
}
h1{
    font-size: 3.8rem;
}
h2{
    line-height: 3rem;
    font-weight: 600;
    font-size: 3.4rem;
}
p{
    margin: 0;
    font-weight: 600;
    font-size: 1rem;
    color: var(--bs-dark-color);
    letter-spacing: 0.07rem;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
button , a{
    font-size: 1.15rem !important;
    letter-spacing: 0.03rem;
    word-spacing: .1rem;

}
.common-heading{
    font-size: 2.8rem;
    font-weight: 600;
    letter-spacing: 0.o1rem !important;
}
.common-title{
    margin-bottom: 4.2rem;
}
 .nav-link{
    color: var(--bs-main-color) !important;
    font-weight: bold;
}
.nav-link:hover{
    color: var(--secondary-color) !important;
     
}
.hero-section{
display: grid;
place-content: center;
height: inherit;
}
.bg-main{
    height: 80vh;
    position: relative;
}
.bg-color{
    background-color: var(--bs-dark-primary);
}
.bg-theme{
    color: var(--bs-supporting-color);
    background-image: none!important;
}
.text-light-grey{
    color: var(--bs-primary-color);
}
.common-section{
    padding: 0 0 9rem 0;
}
.navbar-toggler-icon{
    background-color: var(--bs-main-color);
     
}
.hero-video--section{
    
    height: auto;
    width: 20rem;
    border-radius: 2rem;

}
.custom-shape-divider-bottom-1728018954 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1728018954 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 115px;
}

.custom-shape-divider-bottom-1728018954 .shape-fill {
    fill: #FFFFFF;
}
.services{
    padding: 6rem 0 3rem 0 !important;
}
.icon-span{
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--secondary-color);
    color: var(--bs-main-color);
}
.card-box:hover{
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
}
.business-section{
    padding-top: 3rem;
}
.carousel .card{
    background-color: #262631;
    color: var(--bs-main-color);
    transition: all 0.3s linear;
}
.carousel-inner .card p{
    color: var(--bs-main-color);
}
.carousel-inner .card:hover{
    background-color: var(--bs-main-color);
    color: var(--bs-dark-color);
}
.carousel-inner .card:hover p{
    color: var(--bs-dark-color);
}
.fa-star{
    color: var(--bs-supporting-color);
}
.carousel-indicators{
bottom: -8%;
}
.carousel-indicators [data-bs-target]{
    width: .7rem;
    height: .7rem;
    color: var(--secondary-color) !important;
}
.contact-section{
    position: relative;
}

.custom-shape-divider-top-1729571685 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1729571685 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-top-1729571685 .shape-fill {
    fill: #FFFFFF;
}
.contact-section .common-title{
    padding-top: 6rem
}
.contact-section .form-section{
    width: 50%;
}
.main-footer-section{
    padding: 0 0 4rem 0;
    color: var(--bs-main-color);
}
.contact-div{
    background-color: #222;
}
.icon-div{
    width: 5rem;
    height: 5rem;
}
#basic-addon2{
    border: var(--bs-main-color);
    color: var(--bs-main-color);
    background-color: var(--secondary-color) !important;
}
 
@media screen and (max-width:576px){
    h1{
        font-size: 2rem;
    }
    .hero-video--section{
    
        height: auto;
        width: 15rem;
        border-radius: 2rem;
    
    }
}